*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 17px;
}
body{
    background-color: greenyellow;
}
form{
    height: 400px;
    width: 450px;
    background-color: #fff;
    margin: 200px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-around;
    
}
input{
    height: 50px;
    border: 0;
    background-color:rgba(216, 211, 211, 0.877);
    border-radius: 10px;
    padding-left: 10px;
}
input[type=submit]{
    background-color: green; 
}
span{
    text-align: center;
    height: 20px;
    color: red;
}
